<!DOCTYPE html>
<html lang= 'en'>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous">

        <!-- external css   -->
        <link rel="stylesheet" href= {{ url_for('static', filename=
            'css/main.css') }}>


        <title>
            {{ title }}
        </title>

    </head>
    <body>

        <!-- This is for the headers and navs -->
        <div id= 'screen'>
            <header class="site-header">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <div class="container">
                        <small class="navbar-brand text-dark-50 disabled">Flask
                            Blog
                        </small>
                        <!-- Home and about navs -->
                        <div class="collapse navbar-collapse"
                            id="navbarNavAltMarkup">
                            <div class="navbar-nav">
                                <a class="nav-item nav-link" href={{
                                    url_for('main.home')
                                    }}>Home
                                </a>
                                <a class="nav-item nav-link" href={{
                                    url_for('main.about') }}>About
                                </a>
                            </div>
                        </div>


                        <!-- Once the user logs out -->


                        <!-- A template to follow the login route so the user will see the login navs
                once they logout -->
                        {% if not(current_user.is_authenticated) %}

                        <ul class= 'nav justify-content-end'>
                            <!-- login nav -->
                            <li class="nav-item">
                                <a class="nav-link text-light" href={{
                                    url_for('users.login') }}>Login
                                </a>
                            </li>

                            <!-- Register nav -->
                            <li class="nav-item">
                                <a class="nav-link text-light" href={{
                                    url_for('users.register') }}>Register
                                </a>
                            </li>
                        </ul>

                        <!-- Once the user logs in  -->

                        <!-- A template to follow the logout route so the user will see the login navs
                    once they login -->
                        {% else %}

                        <ul class= 'nav justify-content-end'>

                            <!-- New Post Creation --> -->
                            <li class="nav-item">
                                <a class="nav-link text-light" href={{
                                    url_for('posts.post_creation') }}>New Post
                                </a>
                            </li>

                            <!-- Account nav -->
                            <li class="nav-item" id=
                                'profile-nav'>
                                <a class= 'nav-link text-primary' href={{
                                    url_for('users.account') }}>{{
                                    current_user.username }}
                                </a>
                            </li>

                            <!-- logout nav -->

                            <li class="nav-item">
                                <a class="nav-link text-light" href={{
                                    url_for('users.logout') }} id="logout-user"
                                    onclick= 'return
                                    confirm_logout();'>Logout
                                </a>
                            </li>

                        </ul>

                        {% endif %}
                    </div>
                </nav>
            </header>

            <!-- flash messages section  -->
            {% with messages = get_flashed_messages(with_categories =true) %}

            {% if messages %}

            {% for category , message in messages %}
            <div>
                <p class='p-1 text-center alert alert-{{ category }} mt-2 mb-0
                    error'>
                    {{ message }}
                </p>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <!-- content section -->

            <div class="container">
                {% block content %}

                {% endblock %}
            </div>

        </div>


        <!-- Js for logout confirmation -->
        <script type="text/javascript">

            document.getElementById('logout-user').onclick = function(e){
                
                if (! confirm('Are you sure you want to logout?')){
                    e.preventDefault();
                }
        }

        </script>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>

    </body>
</html>