{% extends 'layout.htm' %}


{% block content %}


<div class= 'container mt-4' style= 'margin-left : 300px '>
    <div class="card" style="width: 27rem">
        <div class="card-body">


            <form action="" method= 'POST'>

                {{ form.hidden_tag() }}

                <legend class= 'form-group text-secondary' style='text-align :
                    center'>
                    Confirm Email Id
                </legend>

                <hr>
                <!-- email  -->
                <div class="form-group mt-4 mb-4">

                    {{ form.email.label}}

                    {% if form.email.errors %}
                    {{ form.email(class = 'form-control , border-danger') }}
                    {% else %}
                    {{ form.email(class = 'form-control , border-success') }}
                    {% endif %}
                    <div class= 'text-danger mt-1'>
                        {% for error in form.email.errors %}
                        <small class= 'form-error'>{{ error }}</small>
                        {% endfor %}
                    </div>
                </div>

                <!-- login button -->
                <div>
                    {{ form.send_email(class = 'btn btn-outline-success ,
                    border-secondary , mt-3 mb-2') }}
                </div>

            </form>

        </div>
    </div>
</div>


{% endblock content %}
