{% extends 'layout.htm' %}


{% block content %}

<div class="card border-dark mt-4 content-section" style="width: 27rem">
    <div class="card-body">


        <form action="" method= 'POST'>

            {{ form.hidden_tag() }}

            <legend class= 'form-group text-secondary' style='text-align :
                center'>
                Reset Password
            </legend>

            <hr>

            <!-- password -->
            <div class="form-group mt-4 mb-4">

                {{ form.email.label}}
                {{ form.email(readonly = True ,class = 'form-control ,
                border-success') }}
            </div>

            <!-- password -->
            <div class="form-group mt-4 mb-4">

                {{ form.password.label}}

                {% if form.password.errors %}
                {{ form.password(class = 'form-control , border-danger') }}
                {% else %}
                {{ form.password(class = 'form-control , border-success') }}
                {% endif %}
                <div class= 'text-danger mt-1'>
                    {% for error in form.password.errors %}
                    <small class= 'form-error'>{{ error }}</small>
                    {% endfor %}
                </div>
            </div>
            <!-- confirm password -->
            <div class="form-group mt-4 mb-4">

                {{ form.confirm_password.label}}

                {% if form.confirm_password.errors %}
                {{ form.confirm_password(class = 'form-control ,
                border-danger') }}
                {% else %}
                {{ form.confirm_password(class = 'form-control ,
                border-success') }}
                {% endif %}
                <div class= 'text-danger mt-1'>
                    {% for error in form.confirm_password.errors %}
                    <small class= 'form-error'>{{ error }}</small>
                    {% endfor %}
                </div>
            </div>

            <!-- reset button -->
            <div>
                {{ form.reset(class = 'btn btn-outline-success ,
                border-secondary , mt-3 mb-2') }}
            </div>

        </form>

    </div>
</div>


{% endblock content %}
