{% extends 'layout.htm'%}

{% block content %}

<!-- main article area -->
<div class= 'row'>
    <div class= 'col ml-5' style='max-width: 63%'>



        <!-- posts  -->
        <div class="card mt-3 mb-2 text-dark bg-light">
            <div class="card-body">

                <!-- username and date posted -->
                <div>
                    <div>
                        <a href= {{ url_for('users.account') }}> <img src={{
                                url_for
                                ('static' ,
                                filename='Profile_Pictures/'+post.author.profile_pic
                                )
                                }}
                                class="img-thumbnail" alt="Profile Pic" style=
                                'border-radius : 50%; width : 50px; '>
                        </a>
                        <h6 class="card-subtitle ml-2 mb-1 text-muted mt-1"
                            style=
                            'display : inline;'>
                            <a href={{ url_for('users.my_posts' , username=
                                post.author.username) }}> <span class=
                                    'text-success ml-2'>{{
                                    post.author.username }}</span></a>
                        </h6>
                        <h6 class="card-subtitle ml-2 mb-1 mr-4 text-muted mt-1"
                            style=
                            'display : inline;float:right;'>
                            <span class="text-info"> <small>Posted on : {{
                                    post.date_posted.strftime('%Y-%m-%d') }}
                                </small></span>
                        </h6>
                        <hr>
                    </div>
                </div>
                <!-- end -->

                <!-- title and content section -->
                <div>
                    <h4 class="card-title text-capitalize mb-4 ml-2"> {{
                        post.title }}
                    </h4>

                    <!-- <pre style= 'font-family: Helvetica; word-spacing: 2px;'> -->
                    <p class="card-text ml-2" id= 'content'>{{
                        post.content }} </p>
                    <!-- </pre> -->
                </div>

                <!-- end  -->

                <!-- Back to Home route-->
                <div class= 'ml-2 mt-4'>
                    <hr>
                    <a href={{ url_for('main.home') }}
                        class="card-link text-info ml-2 text-info">Back to
                        Home</a>

                    {% if current_user == post.author %}
                    <div class= 'ml-2' style=
                        'float:right;'>
                        <a class= 'btn btn-outline-info ,
                            border-info pt-1 pb-1 ' href={{
                            url_for('posts.edit_post', post_id= post.id) }}
                            class="card-link text-info ml-2">Edit Post</a>
                        <!-- <a href="#" class="card-link text-danger ml-2 mr-4">Delete</a> -->
                        <button type="button" class="btn btn-outline-danger pt-1
                            pb-1 ml-3 mr-4"
                            data-toggle="modal" data-target="#deleteModal"
                            style=
                            'float:right'>
                            Delete
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="deleteModal" tabindex="-1"
                            role="dialog" aria-labelledby="deleteModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title"
                                            id="deleteModalLabel">Delete Post</h5>
                                        <button type="button" class="close"
                                            data-dismiss="modal"
                                            aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Do You want to delete the post?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn
                                            btn-info" data-dismiss="modal">No</button>
                                        <form action={{
                                            url_for('posts.delete_post' ,
                                            post_id= post.id) }} method= 'POST'>
                                            <input class= 'btn
                                                btn-danger' type="submit"
                                                value='Delete'>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <!-- side bar area -->

    <div class= 'col-md-auto ml-5'>
        <div class="card mt-4 border-secondary side-bar" style= 'width:
            18rem;
            float: right;'>
            <div class="card-body">
                <h5 class="card-title">Our Sidebar</h5>
                <p class="card-text">Any Information You would like to
                    put here</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class= 'list-group' style= 'display:none'>flush
                    element</li>
                <li class="list-group-item">Latest posts</li>
                <li class="list-group-item">Announcements</li>
                <li class="list-group-item">Calendars</li>
                <li class="list-group-item"> Etc.</li>
            </ul>
        </div>
    </div>

</div>
{% endblock content %}
